<!DOCTYPE html>

<html lang="en-AU">
<head>
  <title>Timestamp Microservice</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
        type="image/x-icon"/>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">

  <script href="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</head>

<body>
<h1 class="text-center fw-bold mt-4 mb-4">
  <span class="text-multi-color">Timestamp Microservice</span>
</h1>

<hr/>

<div class="container text-center mt-5">
  <h2 class="mb-3">Example Usage:</h2>
  <p class="mb-2">
    <a href="/api/2015-12-25">[project url]/api/2015-12-25</a>
  </p>
  <p class="mb-0">
    <a href="/api/1451001600000">[project url]/api/1451001600000</a>
  </p>

  <h2 class="mt-5 mb-3">Example Output:</h2>
  <p class="mb-0">
    <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
  </p>
</div>

<p class="text-center fw-bold mt-5 mb-0">
  <span class="text-multi-color">Developed by </span>
  Minh Ta
</p>
</body>
</html>
