body {
	font-family: 'Roboto', sans-serif;
}

.text-multi-color {
	background-image: linear-gradient(to left, violet, indigo, green, blue, orange, red);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
}
